@mixin flex($direction,$justify){
    display: flex;
    list-style: none;
    flex-direction: $direction;
    justify-content: $justify;
    text-align: center;
}
@mixin sizes($width, $height){
    width: $width;
    height: $height;
}