@media(max-width: 1059px){}
    /*ul{
        display: none;
    }
    input:checked ~ ul{
        display: block;
    }
    li{
        display: block;
        background-color: teal;
        margin: 0;
        padding: 10px;
        list-style: none;
        border-bottom: 1px solid white;
    }
} media no útil ya*/