@media(max-width: 907px){
    body{
        main{
            .card1{
                .grid-img-card1{
                    .card1-img{
                        width: 550px;
                        height: 400px;
                    }
                }    
            }
            .card2{
                .grid-img-card2{
                    .card2-img{
                        width: 550px;
                    height: 400px;
                    }
                }
            }
            .card3{
                .video-card3{
                    .video{
                        width: 550px;
                        height: 400px;
                    }
                }
            }
        }
        footer {
            display: flex;
            justify-content: center;
            align-items: center;
            .flexfooter {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                padding: 0;
                gap: 10px;
            }
        }
    }
}