@media(max-width: 1437px){
    body{
        display: flex;
        flex-direction: column;
        gap: 20px;
        background-color: antiquewhite;
        header{
            display: flex;
            flex-direction: column;
            justify-items: center;
            .logo-carryonda{
                display: block;
                margin-inline-start: 40%;
                margin-inline-end: 60%;
            }
        }
        main{
            display: flex;
            flex-direction: column;
            justify-content: center;
            justify-content: space-evenly;
            gap: 3.125rem;
            .card1{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                .texto-card1{
                    font-size: 30px;
                    text-align: center;
                    h2{
                        color: teal;
                        font-weight: .625rem;
                    }
                }
                .card1-img{
                    border-radius: 15%;
                    border: 2px solid teal;
                    width: 800px;
                    height: 500px;
                }
            }
            .card2{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                .texto-card2{
                    font-size: 25px;
                    text-align: center;
                    h2{
                        color: teal;
                        font-weight: .625rem;
                    }
                }
                .card2-img{
                    border-radius: 15%;
                    border: 2px solid teal;
                    width: 300;
                    height: 470px;
                }
            }
            .card3{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                .texto-card3{
                    font-size: 25px;
                    text-align: center;
                    h2{
                        color: teal;
                    }
                }
                .video{
                    border-radius: 15%;
                    border: 2px solid teal;
                    width: 800px;
                    height: 500px;
                }
            }
            .grid-contacto{
                display: flex;
                justify-content: center;
                p{
                    font-size: 50px;
                    text-align: center;
                } 
                .form{
                    width: 800px;
                    background-color: bisque;
                    font-size: 30px;
                    color: teal;
                    border-radius: 2%;
                    border: 2px solid $background-color-general;
                    text-align: left;
                    padding: 2%;
                    textarea{
                        width: 100%;
                        color: rgb(165, 164, 164);
                    }
                    &:focus-within{
                        color: black;
                    }
                    input[type="submit"]{
                        cursor: pointer;
                        &:hover{
                            color: $background-color-general;
                            background-color: white;
                        }
                    }
                }
            }
        }
        footer{
            background-color: $background-color-general;
            text-decoration: none;
            color: white;
            .flexfooter{
                list-style: none;
                text-decoration: none;
                color: white;
                display: flex;
                flex-direction: row;
                gap: 100px;
                justify-content: center;
                text-align: center;
            }
        }
    }
}