@media(max-width: 509px){
    .logo-carryonda{
        margin-inline-start: 100px;
    }
    .texto-card1 p{
        font-size: medium;
    }
    .card1-img{
        width: 300px;
        height: 200px;
    }
    .texto-card2 p{
        font-size: medium;
    }
    .card2-img{
        width: 300px;
        height: 300px;
    }
    .texto-card3 p{
        font-size: medium;
    }
    .video{
        width: 300px;
        height: 200px;
    }
    .ecoturismo{
        text-align: center;
    }
    .ecoturismo h1{
        font-size: 40px;
    }
    .ecoturismo-video{
        width: 350px;
        height: 275px;
    }
}