@media(max-width: 1043px){
    header{
        display: flex;
        flex-direction: column;
        justify-content: center;
        .logo-carryonda{
            margin-inline-start: 36%;
        }
    }
}