@media(max-width: 699px){
    .logo-carryonda{
        margin-inline-start: 200px;
    }
    .card1-img{
        width: 500px;
        height: 300px;
    }
    .card2-img{
        width: 500px;
        height: 300px;
    }
    .video{
        width: 500px;
        height: 300px;
    }
}