@media(max-width: 907px){
    main{
        .card1-img{
            width: 700px;
            height: 500px;
        }    
        .card2-img{
            width: 700px;
            height: 500px;
        }
        .video{
            width: 700px;
            height: 500px;
        }
}
    footer{ 
        .flexfooter{
            display: flex;
            flex-direction: column;
            gap: .3125rem;
        }
    }
}