@media(max-width: 509px){
    body{
        header{
            .logo-carryonda{
                margin-inline-start: 100px;
            }
        }
        main{
            
            .ecoturismo{
                h1{
                    color: $background-color-general;
                    font-size: 30px;
                }
                h2{
                    font-size: 20px;
                }
                .ecoturismo-video{
                    width: 350px;
                    height: 275px;
                }
            }
        }
    }
}