@media (max-width: 1485px){
header{
    display: flex;
    flex-direction: column;
    justify-items: center;
    .logo-carryonda{
        display: block;
        margin-inline-start: 40%;
        margin-inline-end: 60%;
    }
    .slide-in-fwd-center {
        -webkit-animation: slide-in-fwd-center 0.9s both;
        animation: slide-in-fwd-center 0.9s both;
    }
}
}
main{
    .color-main{
        align-content: center;
    }
}